body {
    padding: 0%;
    margin: 0%;
}

header img {
    margin-top: 80px;
    width: 100%;
    height: 100%;
    box-shadow: 3px 20px 20px rgb(34, 32, 32);
}

nav {
    background: #260000;
    background: linear-gradient(-90deg, rgba(38, 0, 0, 1) 0%, rgba(77, 33, 33, 1) 29%, rgba(255, 255, 255, 1) 84%);

    width: 100vw;
    height: 80px;
    position: fixed;

    box-shadow: 3px 20px 20px rgb(34, 32, 32);
    z-index: 3;
}

nav img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.info {
    margin-top: 120px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.info>div {
    width: 300px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    margin: 20px;
    margin: space-between;
}

.flex {
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(68, 30, 30);
    transition: 0.7s;
}

.flex:hover {
    transform: translateY(-10px);
    box-shadow: 0px 3px 5px;
}

footer {
    width: 100vw;
    height: 30px;
    background-color: black;
    color: white;
    position: fixed;
}